.amazon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;

    padding: 0 10px;
    background-color: rgb(19, 25, 33);
}

.header-left-section {
    width: 115px;
}

.header-middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 25px;
    max-width: 850px;
}

@media (min-width: 576px) and (max-width: 799px) {
    .header-middle-section {
        margin-left: 15px;
    }
}

.header-right-section {
    width: 180px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-link {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    text-decoration: none;
}

.header-link:hover {
    border: 1px solid white;
}

.amazon-logo {
    width: 100px;
    margin-top: 5px;
}

.amazon-logo-mobile {
    width: 35px;
}

.header-search-bar {
    flex: 1;
    height: 30px;
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.header-search-bar:focus {
    outline: none;
}

.header-search-button {
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(254, 189, 105);
    padding: 1px 6px;
    cursor: pointer;
}

.header-search-icon {
    width: 22px;
    margin-top: 3px;
}

.header-returns-orders-container {
    margin-bottom: 2px;
    padding: 6px 5px;
}

@media (max-width: 575px) {
    .amazon-logo {
        display: none;
    }

    .amazon-logo-mobile {
        display: block;
    }

    .header-middle-section {
        margin-left: 5px;
        margin-right: 15px;
    }
}

.header-returns-text {
    color: white;
    font-size: 13px;
}

.header-orders-text {
    color: white;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}

.header-cart-icon {
    width: 50px;
}

.header-cart-container {
    position: relative;
    display: flex;
}

.header-cart-text {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}

.header-cart-quantity {
    position: absolute;
    top: 3px;
    right: 47px;
    color: rgb(240, 136, 4);
    font-weight: bold;

    width: 26px;
    text-align: center;
}
