.header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;

    background-color: rgba(255, 255, 255, 0.993);
}

.left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 145px;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 85px;
    margin-right: 10px;
    max-width: 550px;
}

.right-section {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
}

.header-icon {
    mix-blend-mode: multiply;
    filter: contrast(1.2) brightness(1.1);
    
    height: 20px;
    cursor: pointer;
}

.three-lines-button {
    margin-left: 14px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px 6px 3px 6px;
    margin-top: 3px;
    cursor: pointer;
}

.three-lines-button:hover {
    background-color: rgb(214, 214, 214);
    transition: background-color 0.15s;
}

.three-lines-icon {
    height: 18px;
}

.search-bar {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 20px 0 0 20px;
    padding: 8px 10px;
    flex: 1;
    width: 0;
}

.search-bar:focus {
    border-color: rgb(25, 105, 243);
    outline: none;
}

.search-bar[type="text"] {
    font-family: 'Roboto', Arial;
    font-weight: 300;
}

.search-bar::placeholder {
    font-family: 'Roboto', Arial;
    font-size: 12px;
    font-weight: 400 !important;
}

.search-button {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 0 20px 20px 0;
    border-left: none;
    padding: 3px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: rgb(234, 234, 234);
    transition: background-color 0.15s;
}

.search-icon {
    margin-top: 2px;
}

.mic-button {
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    padding: 5px 6px 1px 6px;
    cursor: pointer;
}

.mic-button:hover {
    background-color: rgb(214, 214, 214);
    transition: background-color 0.15s;
}

.mic-icon {
    height: 22px;
}

.create-icon {
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
}

.create-icon:hover {
    background-color: rgb(224, 224, 224);
    transition: background-color 0.15s;
}

.create-icon span {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
}

.bell-button {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px 5px 1px 6px;
    cursor: pointer;
}

.bell-button:hover {
    background-color: rgb(214, 214, 214);
    transition: background-color 0.15s;
}

.bell-icon {
    height: 22px;
}

.my-channel-picture {
    border-radius: 50%;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width: 575px) {
    .middle-section {
        margin-left: 10px;
    }
}

@media (max-width: 500px) {
    .create-icon {
        display: none;
    }

    .right-section {
        width: 80px;
        justify-content: end;
    }

    .bell-button {
        margin-right: 10px;
    }
}