.products-grid {
    display: grid;
}

@media (max-width: 450px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 451px) and (max-width: 575px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 576px) and (max-width: 799px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1000px) and (max-width: 1299px) {
    .products-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1300px) and (max-width: 1599px) {
    .products-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1600px) {
    .products-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

.product-container {
    padding: 40px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-right: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
}

.product-name {
    color: rgb(33, 33, 33);
    margin-top: 20px;
    height: 38px; 
}

.product-rating-container {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 6px;
    margin-top: 7px;
}

.product-stars-rating {
    width: 100px;
}

.product-rating-count {
    color: rgb(44, 128, 167);
    margin-top: 3px;
    cursor: pointer;
}

.product-price {
    font-weight: bold;
    margin-top: 10px
}

.product-quantity-selector {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 7px;
    background-color: rgb(240, 240, 240);
    padding: 3px 5px;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.product-quantity-selector:focus {
    outline: 2px solid orange;
}

.product-spacer {
    flex: 1;
}

.added-to-cart {
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
    margin-top: 5px;
    opacity: 0;
}

.added-to-cart-shown {
    opacity: 1;
}

.added-to-cart img {
    width: 20px;
}

.added-to-cart span {
    color: rgb(6, 125, 98);
}

.add-to-cart-button {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    border-radius: 50px;
}
