main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 80px;
  margin-bottom: 100px;

  margin-left: auto;
  margin-right: auto;
}

.checkout-title {
    font-size: 22px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    margin-bottom: 20px;
}

.checkout-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 10px;
}

.checkout-items {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.checkout-item-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
}

.selected-date {
    margin-bottom: 20px;
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: 19px;
}

.checkout-item-inner-grid {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    column-gap: 25px;
}

.item-image-container {
    height: 100%;
    width: 100px;
}

.item-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.item-description-container {
    flex: 1;
}

.item-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.item-price {
    color: rgb(177, 39, 4);
    font-weight: bold;
    margin-bottom: 5px;
}

.item-quantity-container {
    color: rgb(33, 33, 33);
}

.quantity-input {
    display: none;
    width: 55px;
    padding: 1px 2px;
    font-size: 16px;
}

.quantity-input:focus {
    outline-color: orange;
}

.save-link {
    display: none;
}

.is-editing-quantity .update-link,
.is-editing-quantity .item-quantity-label {
    display: none;
}

.is-editing-quantity .quantity-input,
.is-editing-quantity .save-link {
    display: initial;
}

.delivery-options-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.delivery-option-title {
    font-weight: bold;
}

.delivery-option-container {
    display: flex;
    cursor: pointer;
}

.delivery-option-container input {
    width: 19px;
    margin-right: 5px;
    cursor: pointer;
}

.delivery-option-container input:focus {
    outline: 2px solid orange;
}

.delivery-option-date {
    font-weight: 500;
    color: rgb(0, 118, 0);
    margin-bottom: 3px;
}

.delivery-option-shipping {
    font-size: 15px;
    color: rgb(120, 120, 120);
}

.order-summary-container {
    flex-shrink: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 18px;

    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
}

.order-summary-title {
    font-weight: bold;
    font-size: 18px;
}

.order-summary-row {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: rgb(33, 33, 33);
}

.order-subtotal div {
    padding-top: 9px;
}

.order-subtotal div:last-child {
    border-top: 1px solid rgb(222, 222, 222);
}

.order-total {
    color: rgb(177, 39, 4);
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 10px 0;
    border-top: 1px solid rgb(222, 222, 222);
}

.place-order-button {
    padding: 12px 6px;
    border-radius: 10px;
}

.place-order-button-empty {
    opacity: 0.5;
    cursor: default;
}

.place-order-button-empty:hover {
    background-color: rgb(255, 216, 20);
    border-color: rgb(248, 206, 0);
}

@media (max-width: 980px) {
  main {
    max-width: 500px;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
    row-gap: 12px;
  }

  .checkout-item-inner-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }

  .delivery-options-container {
    grid-column: span 2;
  }

  .order-summary-container {
    grid-row: 1;
  }
}

.empty-cart-container {
    width: 705px;
}

.view-products-button {
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
} 
