.header-flex {
    display: flex;
    justify-content: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;

    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    padding: 0 30px;
}

.amazon-logo {
    width: 100px;
    margin-top: 5px;
}

.amazon-logo-mobile {
    width: 35px;
}

@media (max-width: 575px) {
    .amazon-logo {
        display: none;
    }

    .amazon-logo-mobile {
        display: block;
        margin-right: 60px;
    }
}

.header-title {
    font-size: 25px;
    font-weight: 500;
}

.header-quantity {
    color: rgb(0, 113, 133);
    font-size: 23px;
    text-decoration: none;
}

.lock-icon-container {
    width: 100px;
    display: flex;
    justify-content: flex-end;
}
