.app-container {
	height: 100vh;
	display: flex;
	flex-direction: column;

	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.messages-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	overflow: scroll;
	scrollbar-width: none;
}

.welcome-message {
	margin-top: 20px;
	color: rgb(120, 120, 120);
	text-align: center;
}

.chat-message-container {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}

.chat-message-container[sender="user"] {
	justify-content: flex-end;
}

.chat-message-container img {
	width: 45px;
}

.chat-message-container div {
	margin: 0 10px;
	background-color: rgb(238, 238, 238);
	padding: 15px 20px;
	border-radius: 10px;
	max-width: 300px;
}

.loading-spinner {
	margin-left: 10px;
	background-color: rgb(238, 238, 238);
	padding: 2px;
	border-radius: 10px;
	width: 45px;
	height: 45px;
}

.input-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 10px;
}

.input-container form {
	flex: 1;
	display: flex;
}

.input-container input {
	border: 1px solid black;
	border-radius: 8px;
	padding: 12px 15px;
	font-size: 16px;
	margin-right: 10px;
	flex-grow: 1;
}

.send-button {
	margin-right: 10px;
}

.send-button.unavailable {
	background-color: rgb(25, 135, 84);
	cursor: not-allowed;
}
